<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <aspNetCore xdt:Locator="Match(processPath)"
                  processPath="dotnet"
                  xdt:Transform="SetAttributes(stdoutLogEnabled,stdoutLogFile)"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\D:\\home\\LogFiles\\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS"
                               value="true"
                               xdt:Locator="Match(name)"
                               xdt:Transform="SetAttributes(value)" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
